html {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: inherit;
}

body>* {
    align-items: center;
    width: 80% !important;
    margin: 1rem auto;
    text-align: center;
    border-radius: 10px;
}

body * {
    width: 80%;
    margin: 0.5rem auto;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}

h1 {
    text-transform: uppercase;
    font-size: xx-large;
    color: rgba(128, 128, 128, 0.747);
}

h2 {
    color: #ffffff;
    background: rgba(128, 128, 128, 0.747);
    font-weight: normal;
}

strong {
    color: rgb(0, 162, 255);
    font-size: xx-large;
}

nav {
    width: 60%;
    position: sticky;
    top: 0;
}

ul {
    width: 80%;
    margin: 0.5rem auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    background-color: rgb(170, 170, 170);
}

li {
    margin: 0.5rem;
    flex: 30%;
}

a {
    text-decoration: none;
    padding: 0.2rem;
    color: #ffffff;
}

input,
button {
    border: 1px solid rgb(0, 162, 255);
}

button:hover {
    border: 3px solid #ffffff;
    color: #ffffff !important;
    background-color: rgb(0, 162, 255);
}

a:hover {
    border: 3px solid #ffffff;
}

section {
    border: 1px solid rgb(0, 162, 255);
    margin-top: 4rem;
}

img {
    margin-bottom: 3rem;
}

footer {
    background-color: rgb(170, 170, 170);
    position: sticky;
    bottom: 0;
    width: 65% !important;
    color: #ffffff;
}