html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

body {
    border: rgb(0, 140, 255) solid 2px;
    border-radius: 10px;
    width: 40%;
    margin: 2px auto;
}

body * {
    width: 90%;
    margin: 2px auto;
    align-items: center;
    text-align: center;
}

h2 {
    margin: 10px;
    color: rgb(0, 140, 255);
}

h1,
h3,
p {
    color: rgba(128, 128, 128, 0.74);
}

section {
    display: flex;
    flex-direction: column;
}

button {
    width: 15vw;
    outline: none;
    background: white;
    border: rgb(0, 140, 255) solid 2px;
    border-radius: 5px;
    color: rgba(128, 128, 128, 0.74);
    font-weight: bold;
}

button:active,
button:hover {
    background: rgb(0, 140, 255);
    color: #ffffff;
}

main {
    visibility: hidden;
}